{% extends "base.html" %}
{% block body %}
	<h1 align="center">Introducing Lviv</h1>
	<br />

	<div id="lviv" style="margin:0px 15px 0px 0px">

	<p> <img src="/static/img/lviv.jpg" class="img-polaroid" align="left" style="margin:0px 15px 0px 0px">
	Mysterious, edgy and architecturally lovely, Lviv boasts that it's Ukraine's least Soviet city. It may have a point. The city's Unesco World Heritage–listed centre was built like a rich layer-cake of neoclassical architecture in rococo, baroque, Renaissance and Gothic styles. There's nary a concrete Soviet apartment block in sight (in the centre, at least), and it has a deep-rooted coffee-house culture that is oh-so-central European.</p>

	<p>Yet Lviv does retain a whiff of Sovietness that only broadens its appeal. Weathered babushkas sell pickled vegetables and honey at the city's Krakivsky Market. There's still the odd gastronom (food store), Volga and dodgy neon-lit slot-machine parlour scattered about. Opera tickets and tram rides are still priced for the people and Soviet slab hotels still offer rooms for the price of a five-star breakfast.</p>

	<p>Over the past two decades many a travel pundit has predicted a plague of Krakow- or Prague-style stags and hens would descend on Lviv sooner or later. But the crowds have never materialised, possibly as the city 'lacks' budget airline connections to Western Europe. We don't want to emulate those erroneous pundits, but this situation may be about to change. The new airport being thrown up in time for Euro 2012 is very likely to attract an easyJet or Ryanair, so you may want to get here before they do.</p>

	<p>The legacy for Lviv of just three football matches in 2012 will be resurfaced roads and straightened tram lines, new hotel rooms, the new-fangled airport and a definite focus on the visitor experience. The city is the only one in Ukraine to have a guide licensing system and one of only two boasting a completely municipally funded tourist office. Some very switched-on guys at city hall constantly look for ways to improve things, while local restaurateurs are letting their imaginations run amok. So forget Ukraine's capital of humour, Odesa, you'll find infinitely more smiles here in forward-looking Lviv.</p>
	</div>



{% endblock %}